---
import Layout from '@/components/Layout.astro';
import { buttonVariants } from '@/components/ui/button';
import { Card } from '@/components/ui/cool-card';

type Document = {
  name: string;
  url: string;
};

type DocumentSection = {
  title: string;
  documents: Document[];
};

const documents: DocumentSection[] = [
  {
    title: 'Constitution',
    documents: [
      {
        name: 'LUMACS Constitution June 2025',
        url: '/documents/constitution-june-2025.pdf',
      },
    ],
  },
  {
    title: 'Health and Safety',
    documents: [
      {
        name: 'LUMACS General Health and Safety Document',
        url: '/documents/general-health-and-safety.pdf',
      },
      {
        name: 'LUMACS Fire Health and Safety Document',
        url: '/documents/fire-health-and-safety.pdf',
      },
      // {
      //   name: 'Aerial Health and Safety Document',
      //   url: '/documents/aerial-health-and-safety.pdf',
      // },
    ],
  },
  {
    title: 'LUCC 2025 Risk Assessments',
    documents: [
      {
        name: 'LUCC General Risk Assessment',
        url: '/documents/LUCC-General-Risk-Assessment.pdf',
      },
      {
        name: 'LUCC Aerial Risk Assessment',
        url: '/documents/LUCC-Aerial-Risk-Assessment.pdf',
      },
    ],
  },
  // {
  //   title: 'Meeting Minutes',
  //   documents: [
  //     {
  //       name: 'Exec 2022-01-06',
  //       url: '/documents/minutes-2022-01-06.pdf',
  //     },
  //     {
  //       name: 'General 2022-01-13',
  //       url: '/documents/minutes-2022-01-13.pdf',
  //     },
  //     {
  //       name: 'IDK 2022-01-20',
  //       url: '/documents/minutes-2022-01-20.pdf',
  //     },
  //   ],
  // },
];
---

<Layout
  title="Documents"
  description="Constitution, Health and Safety documents and meeting minutes."
>
  <div class="flex flex-wrap gap-8 justify-center">
    {
      documents.map((section) => (
        <Card client:load>
          <section class="flex w-80 flex-col gap-4 p-2 md:w-96">
            <h2 class="text-2xl font-bold">{section.title}</h2>
            <ul class="flex flex-col gap-4">
              {section.documents.map((document) => (
                <li class="flex">
                  <a
                    href={document.url}
                    class={`${buttonVariants({ variant: 'link' })} text-wrap`}
                    data-astro-prefetch="false"
                    target="_blank"
                  >
                    {document.name}
                  </a>
                  <div class="flex-grow" />
                  <a
                    href={document.url}
                    class={buttonVariants({ variant: 'outline' })}
                    data-astro-prefetch="false"
                    target="_blank"
                    download={`${document.name}.pdf`}
                  >
                    Download
                  </a>
                </li>
              ))}
            </ul>
          </section>
        </Card>
      ))
    }
  </div>
</Layout>
