---
import Layout from '@/components/Layout.astro';
import { buttonVariants } from '@/components/ui/button';
import { Card, Separator } from '@/components/ui/cool-card';
import { Image } from 'astro:assets';

const displays: {
  title: string;
  img: string;
}[] = [
  {
    title: 'Fire Devil Sticks',
    img: '/display/fire.jpeg',
  },
  {
    title: 'Unicycling',
    img: '/display/unicycling.jpeg',
  },
  {
    title: 'Aerial Hoop',
    img: '/display/hoop.jpeg',
  },
  {
    title: 'Juggling',
    img: '/display/juggling.jpeg',
  },
  {
    title: 'Aerial Silks',
    img: '/display/silksstar.jpeg',
  },
  {
    title: 'Diablo',
    img: '/display/diablo.jpeg',
  },
  {
    title: 'Acro Staff',
    img: '/display/staff.jpeg',
  },
  {
    title: 'Aerial Silks',
    img: '/display/silksstanding.jpeg',
  },
];

const memberships: {
  name: string;
  price: number;
  mostPopular: boolean;
  benefits: string[];
}[] = [
  {
    name: 'Aerial',
    price: 5,
    mostPopular: false,
    benefits: ['Access to our Sunday Aerial sessions'],
  },
  {
    name: 'Full',
    price: 15,
    mostPopular: true,
    benefits: [
      'Access to our Sunday Aerial sessions',
      'Access to our Weekday sessions',
    ],
  },
  {
    name: 'Weekday',
    price: 10,
    mostPopular: false,
    benefits: ['Access to our Weekday sessions'],
  },
];

const sessions: {
  day: string;
  time: string;
  location: string;
  activities: string[];
}[] = [
  {
    day: 'Monday & Wednesday',
    location:
      'Usually LICA lobby but if the weather is nice then Lancaster Square (next to LICA)',
    time: '6pm - 8pm',
    activities: ['Juggling', 'Diablo', 'Acro Staff', 'and more!'],
  },
  {
    day: 'Sunday',
    location: 'Brandrigg Room, Cartmel College',
    time: '4pm - 8pm',
    activities: [
      'Aerial Hoop',
      'Aerial Silks',
      'Come in time for warmup',
      'Bring/come in sports clothing',
      'Something that covers at least the back and the knees',
    ],
  },
  {
    day: 'Friday',
    time: '5pm - 6pm',
    location: 'Check the discord for the location',
    activities: ['Bring your own equipment'],
  },
];
---

<Layout
  title="Home"
  description="Lancaster University Magic and Circus Society (LUMACS) is a fun and friendly society, welcoming people of all abilities. No experience is required to join! We host regular practice sessions and we offer the opportunity to take part in paid performances both on and off campus."
>
  <h1 class="text-2xl font-bold text-center">Lancaster University</h1>
  <Image
    src="/logogay.png"
    alt="Lancaster University Magic and Circus Society (LUMACS) logo"
    width={250}
    height={250}
    loading="eager"
  />
  <h1 class="text-2xl font-bold text-center">Magic and Circus Society</h1>

  <p class="text-center max-w-2xl mx-2">
    We are a fun and friendly society, welcoming people of all abilities. <span
      class="font-bold">No experience is required</span
    > to join! We host regular practice sessions and we offer the opportunity to
    take part in paid performances both on and off campus.
  </p>

  <div class="flex gap-32 mt-4">
    <a
      class={buttonVariants({})}
      href="https://lancastersu.co.uk/groups/magic-and-circus-society-lumacs/join"
    >
      Join Us
    </a>
    <a class={buttonVariants({})} href="/hire/"> Hire Us </a>
  </div>

  <div class="grid grid-cols-2 gap-4 md:grid-cols-4 m-4">
    {
      displays.map(({ img, title }) => (
        <Card client:load>
          <div class="flex flex-col items-center justify-center p-2">
            <Image
              src={img.split('.')[0] + '.webp'}
              alt={`lumacs members displaying ${title}`}
              class="size-40 lg:size-48 rounded"
              width={192}
              height={192}
              loading="eager"
            />
            <Separator client:load className="my-2" />
            <span class="font-bold">{title}</span>
          </div>
        </Card>
      ))
    }
  </div>
  <h2 class="font-bold text-4xl">Memberships</h2>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-3 m-2">
    {
      memberships.map(({ name, price, mostPopular, benefits }) => (
        <Card client:load>
          <div class="flex flex-col items-center p-4 w-64 h-72">
            <span class="font-bold text-xl">{name} Membership</span>
            <span class="text-muted-foreground">£{price}/year</span>
            {mostPopular && <span class="text-sm font-bold">Most Popular</span>}
            <Separator client:load className="my-2" />
            <ul class="flex flex-col gap-2 w-full">
              {benefits.map((benefit) => (
                <li class="list-disc list-inside">{benefit}</li>
              ))}
            </ul>
          </div>
        </Card>
      ))
    }
  </div>

  <h2 class="font-bold text-4xl mt-4">Sessions</h2>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-3 m-2">
    {
      sessions.map(({ day, time, activities, location }) => (
        <Card client:load>
          <div class="flex flex-col items-center p-4 w-64 h-96">
            <span class="font-bold text-xl">{day}</span>
            <span>{time}</span>
            <span class="text-sm text-center text-muted-foreground">
              {location}
            </span>
            <Separator client:load className="my-2" />
            <ul class="flex flex-col gap-2 w-full">
              {activities.map((activity) => (
                <li class="list-disc list-inside">{activity}</li>
              ))}
            </ul>
          </div>
        </Card>
      ))
    }
  </div>
</Layout>
