---
import Layout from '@/components/Layout.astro';
import Logo from '@/components/Logo.astro';
import { buttonVariants } from '@/components/ui/button';
import { Card, Separator } from '@/components/ui/cool-card';
import { Image } from 'astro:assets';
import { ArrowRight, Instagram, Users, Star } from 'lucide-react';

const displays: {
  title: string;
  img: string;
}[] = [
  {
    title: 'Juggling Balls',
    img: '/display/balls.webp',
  },
  {
    title: 'Fire',
    img: '/display/fire2.webp',
  },
  {
    title: 'Juggling Clubs',
    img: '/display/clubs.webp',
  },
  {
    title: 'Aerial Hoop',
    img: '/display/hoop2.webp',
  },
  {
    title: 'Plates',
    img: '/display/plates.jpeg',
  },
  {
    title: 'POI',
    img: '/display/poi.jpeg',
  },
  {
    title: 'LED',
    img: '/display/led.jpeg',
  },
  {
    title: 'Aerial Silks',
    img: '/display/silks.jpeg',
  },
];

const memberships: {
  name: string;
  price: number;
  mostPopular: boolean;
  benefits: string[];
}[] = [
  {
    name: 'Aerial',
    price: 5,
    mostPopular: false,
    benefits: ['Access to our Sunday Aerial sessions'],
  },
  {
    name: 'Full',
    price: 15,
    mostPopular: true,
    benefits: [
      'Access to our Sunday Aerial sessions',
      'Access to our Weekday sessions',
    ],
  },
  {
    name: 'Trial',
    price: 0,
    mostPopular: false,
    benefits: [
      'Access to all our sessions and socials for 2 weeks',
      'No fee',
      'Find out if circus is for you!',
    ],
  },
  {
    name: 'Weekday',
    price: 10,
    mostPopular: false,
    benefits: ['Access to our Weekday sessions'],
  },
];

const generalBenefits: string[] = ['Access to our socials and events', 'Vote in our elections', 'Have fun!'];

const sessions: {
  day: string;
  time?: string;
  location: string;
  activities: string[];
}[] = [
  {
    day: 'Monday & Wednesday',
    location: 'Usually LICA, check the discord for more information',
    time: '6pm - 8pm',
    activities: ['Juggling', 'Diablo', 'Acro Staff', 'and more!'],
  },
  {
    day: 'Sunday',
    location: 'Brandrigg Room, Cartmel College',
    time: '4pm - 8pm',
    activities: [
      'Aerial Hoop',
      'Aerial Silks',
      'Come in time for warmup',
      'Bring/come in sports clothing and something that covers at least the back and the knees',
    ],
  },
  {
    day: 'Friday',
    time: '5pm - 6pm',
    location: 'Check the discord for the location',
    activities: ['Bring your own equipment', 'Run on demand'],
  },
  {
    day: 'Socials and Events',
    location: 'Check Instagram and Discord for the details',
    activities: ['Fun socials every ~2 weeks', 'Showcases hopefully termly'],
  }
];
---

<Layout
  title="Home"
  description="Lancaster University Magic and Circus Society (LUMACS) is a fun and friendly society, welcoming people of all abilities. No experience is required to join! We host regular practice sessions and we offer the opportunity to take part in paid performances both on and off campus."
>
  <p class="text-4xl sm:text-6xl font-bold text-center">
    Lancaster University
    <br />
    <span class="text-primary">Magic</span> and
    <span class="text-primary">Circus</span> Society
  </p>

  <Logo className="right-click-branding" />

  <p
    class="text-center max-w-5xl mx-2 text-xl sm:text-3xl text-muted-foreground"
  >
    Try juggling, aerial, fire and more, <span class="font-bold text-foreground">no experience required</span>. Not sure? Get our <span class="font-bold text-foreground">2 week</span> trial membership for <span class="font-bold text-primary">free</span>! 
    We are fun and friendly society welcoming <span class="font-bold text-foreground">people of all abilities</span>. We host circus sessions Monday and Wednesday
    with aerial on Sunday; with socials running biweekly.
  </p>

  <div class="flex gap-6 flex-col items-center my-6 sm:my-8">
    <div class="flex gap-4">
      <a
        class={buttonVariants({
          size: 'lg',
          class: 'text-lg sm:text-xl font-extrabold',
        })}
        href="https://lancastersu.co.uk/groups/magic-and-circus-society-lumacs/join"
      >
        Join Us
        <ArrowRight className="inline-block size-4 sm:size-5 ml-2" />
      </a>
      <a
        class={buttonVariants({
          variant: 'outline',
          size: 'lg',
          class: 'text-lg sm:text-xl font-extrabold',
        })}
        href="#when-we-meet"
      >
        Explore Activities
      </a>
    </div>
    <div class="flex gap-4">
      <a
        class={buttonVariants({
          variant: 'secondary',
          size: 'lg',
          class: 'text-lg sm:text-xl font-extrabold',
        })}
        href="/hire/"
      >
        <Users className="inline-block size-4 sm:size-5 mr-2" />
        Hire Us for Events
      </a>
      <a
        class={buttonVariants({
          variant: 'outline',
          size: 'lg',
          class: 'text-lg sm:text-xl font-extrabold',
        })}
        href="https://www.instagram.com/lu_macs/"
      >
        <Instagram className="inline-block size-4 sm:size-5 mr-2" />
        Follow Us
      </a>
    </div>
  </div>

  <h2 class="font-bold text-3xl sm:text-5xl">What We Do</h2>
  <p
    class="text-center max-w-5xl mx-2 text-xl sm:text-3xl text-muted-foreground"
  >
    From juggling to aerial arts, fire performance to magic tricks - discover
    the amazing world of circus arts
  </p>
  <div class="grid grid-cols-2 gap-4 md:grid-cols-4 m-4 mb-10">
    {
      displays.map(({ img, title }) => (
        <Card client:load>
          <div class="flex flex-col items-center justify-center p-2">
            <Image
              src={img.split('.')[0] + '.webp'}
              alt={`lumacs members displaying ${title}`}
              class="size-40 md:size-48 lg:size-64 rounded"
              width={192}
              height={192}
              loading="eager"
            />
            <Separator client:load className="my-2" />
            <span class="font-bold text-2xl text-center">{title}</span>
          </div>
        </Card>
      ))
    }
  </div>

  <h2 class="font-bold text-3xl sm:text-5xl">Our Memberships</h2>
  <p
    class="text-center max-w-5xl mx-2 text-xl sm:text-3xl text-muted-foreground"
  >
    We offer a variety of memberships to suit your interests
  </p>
  <div class="flex flex-col sm:flex-row gap-4 m-2 mt-3">
    {
      memberships.map(({ name, price, mostPopular, benefits }) => (
        <Card client:load>
          <div
            class="flex flex-col items-center p-4 md:w-72 w-full md:h-96 h-80"
          >
            {mostPopular && (
              <div class="absolute -top-3 bg-primary px-1 rounded-sm flex items-center justify-center gap-1">
                <Star className="inline-block size-4" />
                Most Popular
              </div>
            )}
            <span class="font-bold text-2xl">{name} Membership</span>
            <span class="text-muted-foreground font-bold text-4xl">
              <span class="text-primary">£{price}</span><!-- -->{price !== 0 && '/year'}
            </span>
            <Separator client:load className="my-2" />
            <ul class='flex flex-col gap-2 w-full list-none p-0'>
              {[...benefits, ...(price !== 0 ? generalBenefits : [])].map((benefit) => (
                <li class='before:content-["✓"] before:inline-block before:mr-2 before:text-primary before:font-extrabold'>
                  {benefit}
                </li>
              ))}
            </ul>
            <div class="flex-grow" />
            <a 
            href="https://lancastersu.co.uk/groups/magic-and-circus-society-lumacs/join"
            class={buttonVariants({ variant: mostPopular ? 'default' : 'outline', class: 'w-full text-lg font-bold' })}
            >Join {price !== 0 ? 'Now' : 'For Free'}</a>
          </div>
        </Card>
      ))
    }
  </div>

  <h2 class="font-bold text-3xl sm:text-5xl mt-10" id="when-we-meet">When We Meet</h2>
  <p
    class="text-center max-w-5xl mx-2 text-xl sm:text-3xl text-muted-foreground"
  >
    Regular sessions are held throughout the week
  </p>
  <div class="flex flex-col sm:flex-row gap-4 m-2 mt-3">
    {
      sessions.map(({ day, time, activities, location }) => (
        <Card client:load>
          <div class="flex flex-col items-center p-4 w-full md:w-72 h-72">
            <span class="font-bold text-xl">{day}</span>
            {time && <span class="text-primary">{time}</span>}
            <span class="text-sm text-center text-muted-foreground">
              {location}
            </span>
            <Separator client:load className="my-2" />
              <ul class="flex flex-col gap-2 w-full">
                {activities.map((activity) => (
                  <li class="list-disc list-inside">{activity}</li>
                ))}
              </ul>
              {
                day === 'Socials and Events' && (
                  <div class="flex-grow" />
                  <a href="/events/" class={buttonVariants({ variant: 'default', class: 'w-full text-lg font-bold' })}>Explore Events</a>
                )
              }
          </div>
        </Card>
      ))
    }
  </div>
</Layout>
