---
import Layout from '@/components/Layout.astro';
import Logo from '@/components/Logo.astro';
import { Separator } from '@/components/ui/separator';
import { buttonVariants } from '@/components/ui/button';
import { Image } from 'astro:assets';

const displays: {
  title: string;
  img: string;
}[] = [
  {
    title: 'Juggling',
    img: '/display/juggling.png',
  },
  {
    title: 'Diablo',
    img: '/display/diablo.jpeg',
  },
  {
    title: 'Acro Staff',
    img: '/display/staff.jpeg',
  },
  {
    title: 'Unicyling',
    img: '/display/unicyling.jpeg',
  },
];

const memberships: {
  name: string;
  price: number;
  mostPopular: boolean;
  benefits: string[];
}[] = [
  {
    name: 'Aerial',
    price: 5,
    mostPopular: false,
    benefits: ['Access to our Sunday Aerial sessions'],
  },
  {
    name: 'Full',
    price: 15,
    mostPopular: true,
    benefits: [
      'Access to our Sunday Aerial sessions',
      'Access to our Weekday sessions',
    ],
  },
  {
    name: 'Weekday',
    price: 10,
    mostPopular: false,
    benefits: ['Access to our Weekday sessions'],
  },
];

const sessions: {
  day: string;
  time: string;
  location: string;
  activities: string[];
}[] = [
  {
    day: 'Monday & Wednesday',
    location:
      'Usually LICA lobby but if the whether is nice then Lancaster Square (next to LICA)',
    time: '6pm - 8pm',
    activities: ['Juggling', 'Diablo', 'Acro Staff', 'and more!'],
  },
  {
    day: 'Sunday',
    location: 'Brandrigg Room, Cartmel College',
    time: '4pm - 8pm',
    activities: [
      'Aerial Hoop',
      'Aerial Silks',
      'Come in time for warmup',
      'Bring/come in sports clothing',
      'Something that covers at least the back and the knees',
    ],
  },
  {
    day: 'Friday',
    time: '5pm - 6pm',
    location: 'Check the discord for the location',
    activities: ['Bring your own equipment'],
  },
];
---

<Layout title="Home">
  <h1 class="text-2xl font-bold text-center">Lancaster University</h1>
  <Logo />
  <h1 class="text-2xl font-bold text-center">Magic and Circus Society</h1>

  <p class="text-center max-w-2xl mx-2">
    We are a fun and friendly society, welcoming people of all abilities. <span
      class="font-bold">No experience is required</span
    > to join! We host regular practice sessions and we offer the opportunity to
    take part in paid performances both on and off campus.
  </p>

  <div class="flex gap-32 mt-4">
    <a
      class={buttonVariants({})}
      href="https://lancastersu.co.uk/groups/magic-and-circus-society-lumacs/join"
    >
      Join Us
    </a>
    <a class={buttonVariants({})} href="/hire"> Hire Us </a>
  </div>

  <div class="grid grid-cols-2 gap-4 md:grid-cols-4 m-4">
    {
      displays.map(({ title, img }) => (
        <div class="flex flex-col items-center justify-center border-2 p-2 rounded-lg">
          <Image
            src={img}
            alt={`lumacs members displaying ${title}`}
            class="size-40 lg:size-48 rounded"
            width={192}
            height={192}
            loading="eager"
          />
          <Separator className="my-2" />
          <h2 class="font-bold">{title}</h2>
        </div>
      ))
    }
  </div>

  <h2 class="font-bold text-4xl">Memberships</h2>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-3 m-2">
    {
      memberships.map(({ name, price, mostPopular, benefits }) => (
        <div
          class={`flex flex-col items-center border-2 p-4 rounded-3xl w-64 h-72 ${
            mostPopular ? 'border-primary' : ''
          }`}
        >
          <span class="font-bold text-xl">{name} Membership</span>
          <span class="text-primary/80">£{price}/year</span>
          {mostPopular && <span class="text-sm font-bold">Most Popular</span>}
          <Separator className="my-2" />
          <ul class="flex flex-col gap-2 w-full">
            {benefits.map((benefit) => (
              <li class="list-disc list-inside">{benefit}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>

  <h2 class="font-bold text-4xl mt-4">Sessions</h2>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-3 m-2">
    {
      sessions.map(({ day, time, activities, location }) => (
        <div class="flex flex-col items-center border-2 p-4 rounded-3xl w-64 h-96">
          <span class="font-bold text-xl">{day}</span>
          <span>{time}</span>
          <span class="text-sm text-center text-primary/80">{location}</span>
          <Separator className="my-2" />
          <ul class="flex flex-col gap-2 w-full">
            {activities.map((activity) => (
              <li class="list-disc list-inside">{activity}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</Layout>
