---
import Layout from '@/components/Layout.astro';
import { Image } from 'astro:assets';

/**
 * Society of Lancaster University Jugglers (SLUJ) founded
 * https://web.archive.org/web/19991006025222/http://www.lancaster.ac.uk/socs/sluj/
 * https://www.facebook.com/groups/14891937214/?_rdr
 * https://web.archive.org/web/20091030172929/http://sluj.co.uk:80/news.php
 *
 * Lancaster University Magic and Illusion Society (LUMIS) founded
 * https://www.facebook.com/lu.magicandcircus
 * https://web.archive.org/web/20060108230031/http://www.lusu.co.uk/societies/list/ln
 *
 * SLUJ shuts down
 *
 * LUMIS becomes Lancaster University Magic and Circus Society (LUMACS)
 *
 * LUMACS convention
 * https://www.jugglingedge.com/group.php?GroupID=67
 *
 *
 * Email with details from old member Lucie:
 * ---
 * Amazing, thank you for sending that across!
 *
 * I had a look at your website and love the history section. I did notice something that I'm fairly certain is incorrect though and thought you might like to know! As far as I'm aware, SLUJ was shut down far before 2013. 2013 was my first year at Lancaster Uni and as part of the society. I joined LUMIS because despite it being primarily magicians, both the president and another member could also juggle/diabolo and there was no other Circus or juggling society available. SLUJ definitely did not exist, although there were rumours of one that used to exist a number of years back (SLUJ). The change of name from LUMIS to LUMACS happened to reflect the growing circus skills presence in the society. It was not in response to SLUJ shutting down. I know the person who set up LUMIS initially, so if you're interested in an exact year for when that happened, I can probably get it for you.
 *
 * Thanks again!
 * Lucie
 * ---
 *
 * Info from Lucie contact:
 * ---
 * So, in 2011-2012 there wasn't an official society, but there was a small group of magicians (three) that would meet up to share ideas and tricks. Their dream was for this to become a formal magic society.
 *
 * In summer 2013, that group expanded to five and, after a successful show in Fylde Bar, we applied to become LUMIS ready for 2013/14 freshers.
 *
 * I also wonder whether they want to mention the Pendle Witch Trials shows we did? I'm sure the old posters will still exist on FB?
 * ---
 *
 * https://www.facebook.com/events/1379685638918803/?acontext=%7B%22action_history%22%3A%22null%22%7D&ref_source=newsfeed&ref_mechanism=feed_attachment
 */

const items: {
  title: string;
  date: string;
  description?: string;
  image?: {
    src: string;
    alt: string;
    ratio: number; // height / width
  };
}[] = [
  {
    title: 'Society of Lancaster University Jugglers (SLUJ) founded',
    date: 'Circa 1993',
    description:
      'SLUJ was founded circa 1993, as a society for learning and using various circus equipment, such as juggling balls/clubs/rings, diabolos, devil sticks, unicycles, and fire torches.',
    image: {
      src: '/timeline/slujlogo.png',
      alt: 'SLUJ logo',
      ratio: 1,
    },
  },
  {
    title: 'Halloween Juggling Convention',
    date: 'October 31st, 1993',
    description:
      'The first Lancaster University Circus Convention, a one day event with a variety of circus and juggling activities.',
  },
  {
    title: 'Lancaster University Halloween Juggling Convention',
    date: 'October 30th, 1994',
  },
  {
    title: 'Lancaster Juggling Convention',
    date: 'October 28th, 1995',
  },
  {
    title: "Lancaster University's Fourth Hallowe'en Juggling Convention",
    date: 'November 2nd, 1996',
  },
  {
    title: "5th Lancaster Hallowe'en Juggling Convention",
    date: 'October 31st, 1998',
  },
  {
    title: "6th Lancaster Hallowe'en Juggling Convention",
    date: 'November 10th, 2001',
  },
  {
    title: 'Lancaster Halloween Juggling Convention',
    date: 'November 1st, 2003',
  },
  {
    title: 'SLUJ shuts down',
    date: 'Circa 2010',
    description:
      'SLUJ was shut down in 2009 or 2010, presumably due to a lack of members.',
  },
  {
    title: 'Magicians Meet',
    date: '2011-2012',
    description:
      'A small group of 3 magicians would meet up regularly to share ideas and tricks, they had a dream of becoming a formal society.',
  },
  {
    title: 'Lancaster University Magic and Illusion Society (LUMIS) founded',
    date: 'Summer 2013',
    description:
      'The group expanded to 5 and after a successful show in Fylde Bar, we applied to become LUMIS ready for the 2013/14 freshers.',
    image: {
      src: '/timeline/logov1.png',
      alt: 'LUMIS logo',
      ratio: 367 / 981,
    },
  },
  {
    title:
      'LUMIS becomes Lancaster University Magic and Circus Society (LUMACS)',
    date: 'September 2nd, 2014',
    description:
      'LUMIS rebranded to LUMACS to reflect the growing circus skills present in the society.',
    image: {
      src: '/timeline/logov2.png',
      alt: 'LUMACS logo',
      ratio: 895 / 1018,
    },
  },
  {
    title: 'New Logo',
    date: 'Augsut 26th, 2016',
    description: 'A new logo was designed and the old one was retired.',
    image: {
      src: '/timeline/logov3.jpeg',
      alt: 'LUMACS new logo',
      ratio: 1,
    },
  },
  {
    title: 'Juggling Clubs 2017',
    date: 'June 30th, 2017 to July 3rd, 2017',
    description:
      'The eighth Lancaster University Circus Convention, now run by LUMACS, a 3-day event focusing on magic and circus.',
  },
  {
    title: 'Lancaster Magic and Circus Convention 2019',
    date: 'April 4th, 2019 to April 5th, 2019',
    description:
      'The ninth Lancaster University Circus Convention, a 2-day event focusing on magic and circus.',
  },
  {
    title: 'New Logo',
    date: 'November 18th, 2024',
    description:
      'A new logo, better than ever, also now with different variations for different usages.',
    image: {
      src: '/assets/branding/logoandtext/light_bg.png',
      alt: 'LUMACS new logo 2024',
      ratio: 1,
    },
  },
  {
    title: 'LUCC',
    date: 'July 26th, 2025 to July 27th, 2025',
    description:
      'Back and better than ever, the Lancaster University Circus Convention returns to great success.',
    image: {
      src: '/assets/branding/lucc/light_bg.png',
      alt: 'LUCC logo',
      ratio: 1,
    },
  },
  {
    title:
      'LUMACS becomes Lancaster University Magic, Aerial and Circus Society',
    date: 'December 10th, 2025',
    description:
      'To better reflect what we do, LUMACS rebrands to include Aerial in our name.',
  },
];
---

<Layout
  title="Timeline"
  description="History of Lancaster University Magic and Circus Society (LUMACS)"
>
  <h1 class="text-2xl font-bold text-center">Our History</h1>
  <p class="text-center max-w-2xl mb-4 md:mb-0">
    A brief history of the society, and the societies that preceded it. If you
    notice any errors or have any suggestions, please contact us at
    <a
      class="underline hover:text-muted-foreground"
      href="mailto:hello@lumacs.co.uk">hello@lumacs.co.uk</a
    >.
  </p>
  <div class="container mx-auto">
    <div class="relative">
      <div
        class="border-l-8 rounded border-border absolute h-full md:left-1/2 transform -translate-x-1/2"
      >
      </div>
      <div class="space-y-12">
        {
          items.map(({ title, date, description, image }, i) => (
            <>
              <div class="md:hidden">
                <div class="flex items-center w-full">
                  <div class="w-10 flex">
                    <div class="size-6 bg-primary rounded-full z-10 -translate-x-1/2" />
                  </div>
                  <div class="w-5/6">
                    <h2 class="text-xl font-semibold">{title}</h2>
                    <p class="mt-2 text-muted-foreground">{date}</p>
                    <p class="mt-2">{description}</p>
                    {image && (
                      <Image
                        width={200}
                        height={200 * image.ratio}
                        src={image.src}
                        alt={image.alt}
                        class="rounded-lg mt-2"
                      />
                    )}
                  </div>
                </div>
              </div>
              <div class="hidden md:flex">
                <div class="flex items-center w-full">
                  <div class="w-1/2 pr-8 text-right">
                    {i % 2 === 0 && (
                      <>
                        <h2 class="text-xl font-semibold">{title}</h2>
                        <p class="mt-2 text-muted-foreground">{date}</p>
                        <p class="mt-2">{description}</p>
                        {image && (
                          <Image
                            width={200}
                            height={200 * image.ratio}
                            src={image.src}
                            alt={image.alt}
                            class="rounded-lg mt-2 float-right"
                          />
                        )}
                      </>
                    )}
                  </div>
                  <div class="w-10 flex justify-center">
                    <div class="size-6 bg-primary rounded-full z-10" />
                  </div>
                  <div class="w-1/2 pl-8 text-left">
                    {i % 2 === 1 && (
                      <>
                        <h2 class="text-xl font-semibold">{title}</h2>
                        <p class="mt-2 text-muted-foreground">{date}</p>
                        {description && <p class="mt-2">{description}</p>}
                        {image && (
                          <Image
                            width={200}
                            height={200 * image.ratio}
                            src={image.src}
                            alt={image.alt}
                            class="rounded-lg mt-2"
                          />
                        )}
                      </>
                    )}
                  </div>
                </div>
              </div>
            </>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
